@import './partials/variables';
@import './partials/fonts';
@import './partials/nav';
@import './partials/login';
@import './partials/user-profile';
@import './partials/tweet';
@import './partials/sticky-footer';
@import './partials/spinner';

*{
    box-sizing: border-box !important;
    font-family: 'liberation-regular';
}

body{
    background-color: #F5F8FA !important;
}

.div-center{
    text-align: center;
}
