@import url('https://fonts.googleapis.com/css?family=Noto+Sans');
@font-face {
    font-family: liberation-regular;
    src: url('../fonts/liberation-sans/LiberationSans-Regular.ttf');
}

@font-face {
    font-family: liberation-bold;
    src: url('../fonts/liberation-sans/LiberationSans-Bold.ttf');
}

@font-face {
    font-family: liberation-italic;
    src: url('../fonts/liberation-sans/LiberationSans-Italic.ttf');
}
