#inputUser-container {
    margin-bottom: 0.5em;
}

.login-btn{
    height: 60px;
    border-radius: 0px !important;
    margin-right: 0.5em;
    float: right;
}

@media only screen and (min-width: 767px){
    .login-btn{
        position: absolute;
        right: 1em;
    }
}

.main-wrapper{
    padding: 60px 25px;
}