#inputUser-container {
    margin-bottom: 0.5em;
}

.login-btn{
  right: 0px;
  margin-right: 1em;
  position: absolute;
  height: 100%;
  border-radius: 0px !important;
}

@media only screen and (max-width: 767px) {
    .login-btn{
      margin-right: 5em;
      height: auto;
    }
}
