
.login-btn{
    height: 60px;
    border-radius: 0px !important;
    margin-right: 0.5em;
    float: right;
}

.login-welcome{
  float: right;
  margin-right: 0.2em;
  margin-top: 20px;
  color: white;
}

#logout{
    color: white;
    float: right;
    padding: 0px;
    margin-top: 20px;
    height: 20px;
    width: 20px;
    background: none;
}

#logout:hover{
    color: red;
}

@media only screen and (min-width: 767px){
    .login-btn, .login-welcome{
        position: absolute;
        right: 2em;
    }
    #logout{
      position: absolute;
      right: 0.5em;
    }
}
