#content{
    width: auto;
    padding: 40px 0px 0px;
}
#mobile-search{
    display: hidden;
    position: absolute;
    left: -99999px;
}

code{
    padding: 0px !important;
}

#profile-search-header{
    text-align: center;
    font-size: 2em;
    margin-top: 1em;
}

#userProfileInput{
    width: 25%;
    margin: 0 auto;
    text-align: center;
    font-size: 1.2em;
}

.invalid:focus{
    border: 1px solid rgb(238, 81, 81) !important;
    box-shadow: 0 0 5px rgb(227, 67, 67) !important;
}

.help-inline{
    vertical-align: middle;
    padding-left: 5px;
    display: table;
    margin: 0 auto;
    color: rgba(255, 41, 41, 0.82);
    font-weight: lighter;
}

$imageWidth: 65;
#main-spinner{
  display: none;
  position: fixed;
    z-index: 10000;
  top: 50%;
  left: 50%;
  margin: (-$imageWidth/2)+px 0px 0px (-$imageWidth/2)+px;
}

$um-profileImgSize: 168px;
$um-profileImgBorder: 5px;
#profileImg {
    float: left;
    border: $um-profileImgBorder solid #fff;
    border-radius: 12px;
    img {
        height: $um-profileImgSize;
        width: auto;
        border-radius: 8px;
    }
}

.user-main, .profile-stats{
    display: table;
    margin: 0 auto;
}

$um-padding: 5px;
.user-main {
    position: relative;
    background: black;
    width: 100%;
    .profile-wrapper{
        position: absolute;
        top: 3.5em;
        margin-left: auto;
        margin-right: auto;
        left: 50%;
        transform: translateX(-50%);
    }
    .profile-body-wrapper{
        background: $background-color;
        box-shadow: 0px -1px 0px 0px rgba(0, 0, 0, 0.17);
        .profile-body{
            margin: 0 auto;
            margin-top: 9.5em;
            padding: 15px;
            padding-top: 80px;
            background: $background-color;
            width: 65%;
            .profile-username{
                display: inline-block; // Avoid border collapse for margin
                margin-top: 0.7em;
                color: black;
                font-size: 1.2em;
                font-weight: bold;
            }
            .profile-screenName {
                a:link,
                a:visited {
                    color: gray;
                }
                line-height: 0.65em;
                margin-bottom: 0.7em;
                font-size: 0.9em;
            }
            .profile-location{
                bottom: $um-padding;
            }
        }
    }
}

.screen-name{
    color: gray;
    line-height: 0.5em;
    margin-bottom: 0.7em;
    font-size: 0.9em;
}

.profile-stats{
    overflow: auto;
    .profile-stat{
        padding: 5px 10px;
        float: left;
        text-align: center;
        border-right: 1px solid darken($main-color, 10%);
        .profile-stat-name{
            text-transform: uppercase;
            font-size: 0.9em;
            color: gray;
        }
        .profile-stat-count{
            font-family: 'liberation-bold';
            font-size: 1.2em;
        }
    }
    :last-child{
        border-right: none;
    }
}

.tweet-statistics{
    padding: 0px 15px;
    margin: 0 auto;
    display: table;
    width: 85%;
}

.stats-info{
    color: gray;
    display: block;
    text-align: center;
}

#stats-form{
    margin-top: 5%;
}

#getStatsBtn{
    text-align: center;
    margin: 0 auto;
    display: table;
}

.tweets-container{
    .stat-header{
        font-size: 1.3em;
        margin: 0 auto;
    }
}

.tweet-author-name{
    line-height: 0.8em;
    margin-top: 0.2em;
}

.screen-name{
    a:link, :visited{
        color: gray;
    }
} 

.stats-header {
    display: block;
    text-align: center;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding-left: 5px;
    padding-bottom: 9px;
    border-bottom: 1px solid #c7c7c7;
    font-size: 2em;
}

.stat-header{
    text-align: center;
    text-transform: uppercase;
    font-family: 'liberation-bold'
}

.glyphicon-heart{
    color: #E2264D;
}

.glyphicon-retweet{
    color: #17BF63;
}

.glyphicon-star{
    color: #FF9F3F
}

.follower-statistics{
    h3, span{
        text-align: center;
    }
    h3{
        margin-bottom: 0px;
    }
    span{
        display: table;
        margin: 0 auto;
    }
    ul{
        list-style-type: none;
    }
}

#new-user{
    position: absolute;
    right: 0.5em;
    background: none;
    border: 0px;
    z-index: 1000;
    background: $background-color;
    border-left: 1px solid darkgray;
    border-right: 1px solid darkgray;
    border-bottom: 1px solid darkgray;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    .glyphicon{
        font-size: 1.3em;
        color: dimgray;
    }
}

#new-user:hover{
    .glyphicon{
        font-size: 1.3em;
        color: black;
    }
}


@media only screen and (max-width: 991px) {
    .stats-header{
        text-align: center;
        width: 100%;
    }
    #userProfileInput{
        width: 50%;
    }
    .tweet-statistics{
        width: 100%;
    }
}

@media only screen and (max-width: 767px){

    #userProfileInput{
        width: 70%;
    }
    #content{
        padding: 45px 0px 0px 0px !important;
    }
    .user-main{
        padding: 0px;
    }
    user-main .profile-body{
        width: 100% !important;
    }
}

@media only screen and (max-width: 576px){
    .user-main .profile-body{
        width: 100% !important;
    }
}

@media only screen and (max-width: 435px){

    #userProfileInput{
        width: 80%;
    }
    .profile-stats{
        font-size: 0.8em;
    }
}

@media only screen and (max-width: 339px){
    .profile-stats .profile-stat{
        padding: 5px 5px;
    }
}